.text-base {
    font-weight: 400;
    font-size: 1rem;

}

h2 {
    font-family: "Open Sans",sans-serif
}

.tile_button_container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.2rem;
    
    
}



.offer {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #636363;
  }
  


  .old-price {
    font-size: 16px;
    color: #7a7a7a;
    text-decoration: line-through;
    margin-left: 10px;
  }



  .card {
    margin: 3px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    height: 100%;
  }
  


  .card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 5px 5px 5px 5px;
    max-width: 200px; 
    margin: 0 auto; 
  }

.error {
  color: #dc3545;
}
  

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate:hover {
  white-space: normal;
}


.text-cortado {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-cortado:hover {
  white-space: normal;
}

div {
  margin-bottom: 10px;
}

input:invalid + span:after {
  content: "Cantidad incorrecta";
  padding-left: 5px;
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  border-image: initial;
}

input:valid + span:after {
  content: "";
  padding-left: 5px;
}
